{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "trailingComma": "all" }
    ],
    "func-names": ["warn", "always"],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
